.header {
    display: grid;
    grid-row: 2;
    grid-template-rows: 75px 225px;
    color: black;
    font-size: 20px;
    gap: 10px;
}
.top1 {
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr;
    gap: 20px;
}
 .left {
    grid-column: 1/2;
    border: 2px solid black;
    width: 69%;
    margin: 10px;
 }

 .center {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-column: 2/3;
    border: 2px solid black;
    width: 69%;
    margin: 10px 10px 10px 77px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
 }

 .right {
    grid-column: 3/4;
    border: 2px solid black;
    width: 69%;
    margin: 10px 10px 10px 86px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
 }

.hero {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: grid;
    grid-row: 3;
    grid-column: 2;
    grid-template-rows: 200px 200px 100px;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

.testimonials {
    border: 2px solid black;
    text-align: center;
    position: relative;
    grid-row: 1/2;
}

.word {
    position: absolute;
    top: 10px;
    left: 270px;
}
.one {
    height: 125px;
    width: 270px;
    border: 2px solid black;
    position: absolute;
    top: 50px;
    left: 30px;
}

.two {
    height: 145px;
    width: 300px;
    border: 2px solid black;
    position: absolute;
    top: 39px;
    right: 9px;
}

.services {
    grid-column: 1;
    grid-row: 2/3;
    border: 2px solid black;
    text-align: center;
    position: relative;
}
.word2 {
    position: absolute;
    top: 23px;
    left: 300px;
}

.three {
    height: 100px;
    width: 240px;
    border: 2px solid black;
    position: absolute;
    top: 69px;
    right: 479px;
}

.four {
    height: 85px;
    width: 230px;
    border: 2px solid black;
    position: absolute;
    top: 99px;
    right: 229px;
}

.five {
    height: 105px;
    width: 210px;
    border: 2px solid black;
    position: absolute;
    top: 84px;
    right: 6px;
}

.freelance {
    grid-column: 1/2;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ads {
    grid-column: 2;
    grid-row: -4/ span 3;
    justify-content: center;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    grid-template-rows: 63px;
    border: 2px solid black;
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    justify-content: center;
    align-items: center;
}
