.header {
    display: grid;
    grid-row: 2;
    grid-template-rows: 75px 225px;
    color: black;
    font-size: 20px;
    gap: 10px;
}
.top1 {
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr;
    gap: 20px;
}
 .left {
    grid-column: 1/2;
    border: 2px solid black;
    width: 69%;
    margin: 10px;
 }

 .center {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-column: 2/3;
    border: 2px solid black;
    width: 69%;
    margin: 10px 10px 10px 77px;
    text-decoration: none;
    text-align: center;
 }

 .right {
    grid-column: 3/4;
    border: 2px solid black;
    width: 69%;
    margin: 10px 10px 10px 86px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    text-align: center;
 }

.hero {
    border: 2px solid black;
    justify-content: center;
    align-items: center;
}

.main {
    display: grid;
    grid-row: 3;
    grid-column: 2;
    grid-template-rows: 200px 200px 100px;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

.testimonials {
    border: 2px solid black;
}

.one {
    
}

.two {
    
}
.services {
    grid-column: 1;
    grid-row: 2/3;
    border: 2px solid black;
}

.freelance {
    grid-column: 1/2;
    border: 2px solid black;
}

.ads {
    grid-column: 2;
    grid-row: -4/ span 3;
    justify-content: center;
    border: 2px solid black;
}

.footer {
    display: grid;
    grid-template-rows: 63px;
    border: 2px solid black;
}